// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace PaymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentsClient {
    protected readonly _options: NormalizedClientOptions<PaymentsClient.Options>;

    constructor(options: PaymentsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Where a card payment stands; poll it after a 402 ``payment_required``.
     *
     * ``requires_action`` until the buyer pays on ``pay_url``; then ``authorized``
     * and, as soon as the order is created from the parked draft, ``placed`` with
     * ``order_id``. The poll itself does the creating when it gets there before
     * the webhook, so a buyer who pays and comes straight back sees the order.
     *
     * @param {Zinc.GetPendingPaymentPaymentsPaymentIdGetRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.payments.getPendingPayment({
     *         payment_id: "payment_id"
     *     })
     */
    public getPendingPayment(
        request: Zinc.GetPendingPaymentPaymentsPaymentIdGetRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.PendingPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPendingPayment(request, requestOptions));
    }

    private async __getPendingPayment(
        request: Zinc.GetPendingPaymentPaymentsPaymentIdGetRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.PendingPaymentResponse>> {
        const { payment_id: paymentId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `payments/${core.url.encodePathParam(paymentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.PendingPaymentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/payments/{payment_id}");
    }

    /**
     * The Stripe-hosted payment page for a pending payment.
     *
     * Called by pay.zinc.com when the buyer clicks through, not by the 402 itself,
     * so a link nobody opens never creates a Stripe session. Idempotent per
     * payment: a session already open is returned again.
     *
     * @param {Zinc.CreateCheckoutSessionPaymentsPaymentIdCheckoutSessionPostRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.payments.createCheckoutSession({
     *         payment_id: "payment_id"
     *     })
     */
    public createCheckoutSession(
        request: Zinc.CreateCheckoutSessionPaymentsPaymentIdCheckoutSessionPostRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.CheckoutSessionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCheckoutSession(request, requestOptions));
    }

    private async __createCheckoutSession(
        request: Zinc.CreateCheckoutSessionPaymentsPaymentIdCheckoutSessionPostRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.CheckoutSessionResponse>> {
        const { payment_id: paymentId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `payments/${core.url.encodePathParam(paymentId)}/checkout-session`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.CheckoutSessionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/payments/{payment_id}/checkout-session",
        );
    }
}
