// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace OrdersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OrdersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrdersClient.Options>;

    constructor(options: OrdersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Dry-run a CSV upload: validate every row and report estimated spend.
     *
     * No orders are placed. Use this to show the confirmation preview before
     * calling POST /orders/bulk.
     *
     * @param {Zinc.ValidateBulkUploadOrdersBulkValidatePostRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.validateBulkUpload({
     *         body: {}
     *     })
     */
    public validateBulkUpload(
        request: Zinc.ValidateBulkUploadOrdersBulkValidatePostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.BulkValidateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__validateBulkUpload(request, requestOptions));
    }

    private async __validateBulkUpload(
        request: Zinc.ValidateBulkUploadOrdersBulkValidatePostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.BulkValidateResponse>> {
        const { authorization, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders/bulk/validate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.BulkValidateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders/bulk/validate");
    }

    /**
     * List the current user's bulk-upload batches, newest first.
     *
     * @param {Zinc.ListBulkUploadsOrdersBulkGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.listBulkUploads()
     */
    public listBulkUploads(
        request: Zinc.ListBulkUploadsOrdersBulkGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.BulkBatchListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBulkUploads(request, requestOptions));
    }

    private async __listBulkUploads(
        request: Zinc.ListBulkUploadsOrdersBulkGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.BulkBatchListResponse>> {
        const { limit, offset, authorization } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders/bulk",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.BulkBatchListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/bulk");
    }

    /**
     * Create a bulk-upload batch and place its rows asynchronously.
     *
     * @param {Zinc.CreateBulkUploadOrdersBulkPostRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.createBulkUpload({
     *         body: {}
     *     })
     */
    public createBulkUpload(
        request: Zinc.CreateBulkUploadOrdersBulkPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.BulkBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBulkUpload(request, requestOptions));
    }

    private async __createBulkUpload(
        request: Zinc.CreateBulkUploadOrdersBulkPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.BulkBatchResponse>> {
        const { authorization, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.BulkBatchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders/bulk");
    }

    /**
     * Get a batch with per-row results and live order statuses.
     *
     * @param {Zinc.GetBulkUploadOrdersBulkBatchIdGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.getBulkUpload({
     *         batch_id: "batch_id"
     *     })
     */
    public getBulkUpload(
        request: Zinc.GetBulkUploadOrdersBulkBatchIdGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.BulkBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBulkUpload(request, requestOptions));
    }

    private async __getBulkUpload(
        request: Zinc.GetBulkUploadOrdersBulkBatchIdGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.BulkBatchResponse>> {
        const { batch_id: batchId, authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `orders/bulk/${core.url.encodePathParam(batchId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.BulkBatchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/bulk/{batch_id}");
    }

    /**
     * Download the batch results as a CSV (status + echoed custom columns).
     *
     * @param {Zinc.DownloadBulkResultsOrdersBulkBatchIdResultsCsvGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.downloadBulkResults({
     *         batch_id: "batch_id"
     *     })
     */
    public downloadBulkResults(
        request: Zinc.DownloadBulkResultsOrdersBulkBatchIdResultsCsvGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__downloadBulkResults(request, requestOptions));
    }

    private async __downloadBulkResults(
        request: Zinc.DownloadBulkResultsOrdersBulkBatchIdResultsCsvGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { batch_id: batchId, authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `orders/bulk/${core.url.encodePathParam(batchId)}/results.csv`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/orders/bulk/{batch_id}/results.csv",
        );
    }

    /**
     * Get a list of orders for the current user
     *
     * @param {Zinc.ListOrdersOrdersGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.listOrders()
     */
    public listOrders(
        request: Zinc.ListOrdersOrdersGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.OrderListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOrders(request, requestOptions));
    }

    private async __listOrders(
        request: Zinc.ListOrdersOrdersGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.OrderListResponse>> {
        const {
            limit,
            offset,
            order_id: orderId,
            search,
            merchant_order_id: merchantOrderId,
            status_filter: statusFilter,
            tracking_status: trackingStatus,
            has_tracking: hasTracking,
            return_status: returnStatus,
            created_after: createdAfter,
            created_before: createdBefore,
            metadata_key: metadataKey,
            metadata_value: metadataValue,
            user_email: userEmail,
            include,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            order_id: orderId,
            search,
            merchant_order_id: merchantOrderId,
            status_filter: statusFilter,
            tracking_status: trackingStatus,
            has_tracking: hasTracking,
            return_status: returnStatus,
            created_after: createdAfter !== undefined ? createdAfter : undefined,
            created_before: createdBefore !== undefined ? createdBefore : undefined,
            metadata_key: metadataKey,
            metadata_value: metadataValue,
            user_email: userEmail,
            include,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.OrderListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders");
    }

    /**
     * Posts an order to a queue for processing
     *
     * @param {Zinc.CreateOrderOrdersPostRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.createOrder({
     *         body: {
     *             products: [{
     *                     url: "https://www.amazon.com/dp/B07JGBW826"
     *                 }],
     *             shipping_address: {
     *                 first_name: "first_name",
     *                 last_name: "last_name",
     *                 address_line1: "address_line1",
     *                 city: "city",
     *                 postal_code: "postal_code",
     *                 phone_number: "phone_number"
     *             },
     *             max_price: 1
     *         }
     *     })
     */
    public createOrder(
        request: Zinc.CreateOrderOrdersPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.OrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createOrder(request, requestOptions));
    }

    private async __createOrder(
        request: Zinc.CreateOrderOrdersPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.OrderResponse>> {
        const { "x-zinc-client": zincClient, authorization, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-zinc-client": zincClient ?? undefined,
                authorization: authorization ?? undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.OrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders");
    }

    /**
     * Stream the current user's orders as a CSV file.
     *
     * Takes the same filters as ``GET /orders`` (via the shared
     * ``_visible_orders_filter``) so an export always contains exactly the rows
     * the caller was looking at — but no ``limit``/``offset``: the export covers
     * the whole filtered set, paged internally so memory stays flat.
     *
     * @param {Zinc.ExportOrdersCsvOrdersExportGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.exportOrdersCsv()
     */
    public exportOrdersCsv(
        request: Zinc.ExportOrdersCsvOrdersExportGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__exportOrdersCsv(request, requestOptions));
    }

    private async __exportOrdersCsv(
        request: Zinc.ExportOrdersCsvOrdersExportGetRequest = {},
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            order_id: orderId,
            search,
            status_filter: statusFilter,
            merchant_order_id: merchantOrderId,
            tracking_status: trackingStatus,
            has_tracking: hasTracking,
            return_status: returnStatus,
            created_after: createdAfter,
            created_before: createdBefore,
            metadata_key: metadataKey,
            metadata_value: metadataValue,
            user_email: userEmail,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            order_id: orderId,
            search,
            status_filter: statusFilter,
            merchant_order_id: merchantOrderId,
            tracking_status: trackingStatus,
            has_tracking: hasTracking,
            return_status: returnStatus,
            created_after: createdAfter !== undefined ? createdAfter : undefined,
            created_before: createdBefore !== undefined ? createdBefore : undefined,
            metadata_key: metadataKey,
            metadata_value: metadataValue,
            user_email: userEmail,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders/export",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/export");
    }

    /**
     * Get list of test products for sandbox testing.
     *
     * Returns list of test product URLs that can be used with test API keys
     * to trigger different test scenarios.
     *
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.listTestProducts()
     */
    public listTestProducts(
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__listTestProducts(requestOptions));
    }

    private async __listTestProducts(
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "orders/test-products",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ZincError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/test-products");
    }

    /**
     * Retrieves an order by its ID
     *
     * @param {Zinc.GetOrderOrdersOrderIdGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.getOrder({
     *         order_id: "order_id"
     *     })
     */
    public getOrder(
        request: Zinc.GetOrderOrdersOrderIdGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.OrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOrder(request, requestOptions));
    }

    private async __getOrder(
        request: Zinc.GetOrderOrdersOrderIdGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.OrderResponse>> {
        const { order_id: orderId, authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.OrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/{order_id}");
    }

    /**
     * Customer-facing lifecycle timeline for an order.
     *
     * Derived on read from existing data — no dedicated storage. Merges the
     * placement outcome (OrderLog) with carrier tracking state (TrackingNumber /
     * TrackingCheckpoint) into an ordered list of milestones. This is the order's
     * story to the customer, distinct from the admin-only job/automation log.
     *
     * @param {Zinc.GetOrderTimelineOrdersOrderIdTimelineGetRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.getOrderTimeline({
     *         order_id: "order_id"
     *     })
     */
    public getOrderTimeline(
        request: Zinc.GetOrderTimelineOrdersOrderIdTimelineGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.OrderTimelineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOrderTimeline(request, requestOptions));
    }

    private async __getOrderTimeline(
        request: Zinc.GetOrderTimelineOrdersOrderIdTimelineGetRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.OrderTimelineResponse>> {
        const { order_id: orderId, authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/timeline`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.OrderTimelineResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/{order_id}/timeline");
    }

    /**
     * Cancel an order by its ID. Orders can only be cancelled if they are pending.
     *
     * @param {Zinc.CancelOrderOrdersOrderIdCancelPostRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.orders.cancelOrder({
     *         order_id: "order_id"
     *     })
     */
    public cancelOrder(
        request: Zinc.CancelOrderOrdersOrderIdCancelPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__cancelOrder(request, requestOptions));
    }

    private async __cancelOrder(
        request: Zinc.CancelOrderOrdersOrderIdCancelPostRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { order_id: orderId, authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders/{order_id}/cancel");
    }
}
