// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace SandboxClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SandboxClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SandboxClient.Options>;

    constructor(options: SandboxClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Mint a provisional sandbox user + test API key. No account needed.
     *
     * @param {Zinc.SandboxKeyCreate | null} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link Zinc.TooManyRequestsError}
     * @throws {@link Zinc.ServiceUnavailableError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.sandbox.createSandboxKey({})
     */
    public createSandboxKey(
        request: Zinc.SandboxKeyCreate | null,
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.SandboxKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSandboxKey(request, requestOptions));
    }

    private async __createSandboxKey(
        request: Zinc.SandboxKeyCreate | null,
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.SandboxKeyResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "sandbox/keys",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.SandboxKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Zinc.TooManyRequestsError(
                        _response.error.body as Zinc.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Zinc.ServiceUnavailableError(
                        _response.error.body as Zinc.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sandbox/keys");
    }

    /**
     * Fold a provisional sandbox into the authenticated account.
     *
     * Always a merge: Stytch's callback creates a real user row on first login,
     * so a caller reaching this endpoint already has an account. The agent's key
     * is reassigned rather than revoked, so whatever it has hardcoded keeps
     * working — that is the point of claiming rather than starting over.
     *
     * @param {Zinc.SandboxClaimRequest} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.NotFoundError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.sandbox.claimSandbox({
     *         token: "token"
     *     })
     */
    public claimSandbox(
        request: Zinc.SandboxClaimRequest,
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.SandboxClaimResponse> {
        return core.HttpResponsePromise.fromPromise(this.__claimSandbox(request, requestOptions));
    }

    private async __claimSandbox(
        request: Zinc.SandboxClaimRequest,
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.SandboxClaimResponse>> {
        const { authorization, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "sandbox/claim",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.SandboxClaimResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Zinc.NotFoundError(_response.error.body as Zinc.ErrorResponse, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sandbox/claim");
    }

    /**
     * Whether the sandbox this key belongs to has been claimed yet.
     *
     * An agent hands its claim URL to a human and then has no way to learn what
     * happened — a device-code grant would tell it for free (issue #825). Until
     * we have one, polling this closes the loop.
     *
     * Still provisional means nobody has claimed it. Past that, "not provisional"
     * alone would be a lie — every ordinary account would read as claimed — so
     * the answer comes from the claim event written on the account, which is
     * also the only durable evidence a claim happened once the provisional row
     * is deleted.
     *
     * @param {Zinc.GetSandboxStatusSandboxStatusGetRequest} request
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.sandbox.getSandboxStatus()
     */
    public getSandboxStatus(
        request: Zinc.GetSandboxStatusSandboxStatusGetRequest = {},
        requestOptions?: SandboxClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.SandboxStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSandboxStatus(request, requestOptions));
    }

    private async __getSandboxStatus(
        request: Zinc.GetSandboxStatusSandboxStatusGetRequest = {},
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.SandboxStatusResponse>> {
        const { authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "sandbox/status",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.SandboxStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/sandbox/status");
    }

    /**
     * The agent quickstart, served as plain markdown.
     *
     * @param {SandboxClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.sandbox.getQuickstart()
     */
    public getQuickstart(requestOptions?: SandboxClient.RequestOptions): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getQuickstart(requestOptions));
    }

    private async __getQuickstart(
        requestOptions?: SandboxClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "sandbox/quickstart",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ZincError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/sandbox/quickstart");
    }
}
