// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace WalletClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WalletClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WalletClient.Options>;

    constructor(options: WalletClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get your wallet balance.
     *
     * All amounts are integer cents. `balance` is the ledger balance;
     * `spendable_balance` is what `POST /orders` actually checks against (the two
     * differ only for Zinc Connect accounts with in-flight holds). An order needs
     * `max_price + order_fee_cents` spendable, so compare against that before
     * placing one instead of discovering a shortfall as a 402. Bulk-deal customers
     * (`billed_by_invoice: true`) are invoiced monthly and skip the balance check.
     *
     * Under a `zn_test_` key (or `X-Test-Mode`) this reads the sandbox wallet,
     * which sandbox orders never draw down. Funds are added from the dashboard.
     *
     * @param {Zinc.GetWalletWalletMeGetRequest} request
     * @param {WalletClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.wallet.getWallet()
     */
    public getWallet(
        request: Zinc.GetWalletWalletMeGetRequest = {},
        requestOptions?: WalletClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.WalletResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getWallet(request, requestOptions));
    }

    private async __getWallet(
        request: Zinc.GetWalletWalletMeGetRequest = {},
        requestOptions?: WalletClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.WalletResponse>> {
        const { authorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "wallet/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.WalletResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/wallet/me");
    }
}
