// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace DeviceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeviceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeviceClient.Options>;

    constructor(options: DeviceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Mint a device code. No account needed.
     *
     * Send your `zn_test_` sandbox key as the bearer and the sandbox comes along:
     * when the owner approves, its orders and key move onto their account and
     * your sandbox key keeps working, alongside the live key you receive.
     *
     * @param {Zinc.CreateDeviceCodeDeviceCodePostRequest} request
     * @param {DeviceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.device.createDeviceCode({
     *         body: {}
     *     })
     */
    public createDeviceCode(
        request: Zinc.CreateDeviceCodeDeviceCodePostRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.DeviceCodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDeviceCode(request, requestOptions));
    }

    private async __createDeviceCode(
        request: Zinc.CreateDeviceCodeDeviceCodePostRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.DeviceCodeResponse>> {
        const { authorization, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "device/code",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.DeviceCodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/device/code");
    }

    /**
     * Public on purpose: it holds only what the agent said about itself, and
     * the approval page needs it before the human has signed in.
     *
     * @param {Zinc.DescribeDeviceCodeDeviceCodesUserCodeGetRequest} request
     * @param {DeviceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.device.describeDeviceCode({
     *         user_code: "user_code"
     *     })
     */
    public describeDeviceCode(
        request: Zinc.DescribeDeviceCodeDeviceCodesUserCodeGetRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.DeviceCodeInfo> {
        return core.HttpResponsePromise.fromPromise(this.__describeDeviceCode(request, requestOptions));
    }

    private async __describeDeviceCode(
        request: Zinc.DescribeDeviceCodeDeviceCodesUserCodeGetRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.DeviceCodeInfo>> {
        const { user_code: userCode } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `device/codes/${core.url.encodePathParam(userCode)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.DeviceCodeInfo, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/device/codes/{user_code}");
    }

    /**
     * The human's decision. A machine credential must never make it: an API
     * key approving a device code would be a key minting a key.
     *
     * @param {Zinc.DeviceApproveRequest} request
     * @param {DeviceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.device.decideDeviceCode({
     *         user_code: "user_code",
     *         granted: true
     *     })
     */
    public decideDeviceCode(
        request: Zinc.DeviceApproveRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.DeviceApproveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__decideDeviceCode(request, requestOptions));
    }

    private async __decideDeviceCode(
        request: Zinc.DeviceApproveRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.DeviceApproveResponse>> {
        const { authorization, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "device/approve",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.DeviceApproveResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/device/approve");
    }

    /**
     * @param {Zinc.DeviceTokenRequest} request
     * @param {DeviceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.BadRequestError}
     * @throws {@link Zinc.ForbiddenError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.device.redeemDeviceCode({
     *         device_code: "device_code"
     *     })
     */
    public redeemDeviceCode(
        request: Zinc.DeviceTokenRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.ApiKeyExchangeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__redeemDeviceCode(request, requestOptions));
    }

    private async __redeemDeviceCode(
        request: Zinc.DeviceTokenRequest,
        requestOptions?: DeviceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.ApiKeyExchangeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "device/token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.ApiKeyExchangeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Zinc.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Zinc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/device/token");
    }
}
