// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace AgentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentClient {
    protected readonly _options: NormalizedClientOptions<AgentClient.Options>;

    constructor(options: AgentClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Place an order via the Machine Payments Protocol (MPP).
     *
     * No Zinc account required. Payment is made upfront via MPP.
     * Supports multiple payment methods (e.g. Tempo, Stripe).
     * If no valid payment credential is provided, returns HTTP 402
     * with payment challenges for all configured methods.
     *
     * Payment is the gate, but only for a genuine discovery probe: a bodyless
     * POST (from a registry like mppscan) is parsed leniently and reaches the 402
     * challenge instead of a 422. A *present-but-invalid* body, by contrast —
     * including malformed JSON and non-object JSON — is a real order attempt
     * and is rejected with a 422 up front, before any payment
     * challenge is issued or honored. Otherwise an agent could settle an on-chain
     * payment against the challenge and then be rejected on the retry, with no way
     * to refund the settlement (the MPP layer cannot verify or reverse a payment
     * whose retry body no longer matches the challenge).
     *
     * @param {Zinc.CreateMppOrderAgentOrdersPostRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.createMppOrder({
     *         body: {
     *             products: [{
     *                     url: "https://www.amazon.com/dp/B07JGBW826"
     *                 }],
     *             shipping_address: {
     *                 first_name: "first_name",
     *                 last_name: "last_name",
     *                 address_line1: "address_line1",
     *                 city: "city",
     *                 postal_code: "postal_code",
     *                 phone_number: "phone_number"
     *             },
     *             max_price: 1
     *         }
     *     })
     */
    public createMppOrder(
        request: Zinc.CreateMppOrderAgentOrdersPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.OrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMppOrder(request, requestOptions));
    }

    private async __createMppOrder(
        request: Zinc.CreateMppOrderAgentOrdersPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.OrderResponse>> {
        const { method, authorization, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            method,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.OrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/orders");
    }

    /**
     * **Beta** — response shape may change. Cross-retailer product search for agents. Returns orderable listings whose
     * `url` can be passed straight to POST /agent/orders.
     *
     * @param {Zinc.AgentSearchRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.search({
     *         q: "q"
     *     })
     */
    public search(
        request: Zinc.AgentSearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: Zinc.AgentSearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.SearchResponse>> {
        const { q } = request;
        const _queryParams: Record<string, unknown> = {
            q,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/search");
    }

    /**
     * **Beta** — response shape may change. Cross-retailer product search for agents. Returns orderable listings whose
     * `url` can be passed straight to POST /agent/orders.
     *
     * @param {Zinc.AgentSearchPostRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.searchPost({
     *         q: "q"
     *     })
     */
    public searchPost(
        request: Zinc.AgentSearchPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchPost(request, requestOptions));
    }

    private async __searchPost(
        request: Zinc.AgentSearchPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.SearchResponse>> {
        const { q } = request;
        const _queryParams: Record<string, unknown> = {
            q,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/search",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/search");
    }

    /**
     * Per-retailer product search for agents (amazon | walmart).
     *
     * @param {Zinc.AgentProductSearchRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productSearch({
     *         query: "query",
     *         retailer: "amazon"
     *     })
     */
    public productSearch(
        request: Zinc.AgentProductSearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.ProductSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__productSearch(request, requestOptions));
    }

    private async __productSearch(
        request: Zinc.AgentProductSearchRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.ProductSearchResponse>> {
        const { query, retailer, page, free_shipping: freeShipping } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            retailer,
            page,
            free_shipping: freeShipping,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.ProductSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/products/search");
    }

    /**
     * Per-retailer product search for agents (amazon | walmart).
     *
     * @param {Zinc.AgentProductSearchPostRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productSearchPost({
     *         query: "query",
     *         retailer: "amazon"
     *     })
     */
    public productSearchPost(
        request: Zinc.AgentProductSearchPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.ProductSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__productSearchPost(request, requestOptions));
    }

    private async __productSearchPost(
        request: Zinc.AgentProductSearchPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.ProductSearchResponse>> {
        const { query, retailer, page, free_shipping: freeShipping } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            retailer,
            page,
            free_shipping: freeShipping,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/search",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.ProductSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/products/search");
    }

    /**
     * Offers/pricing for a specific product on a retailer.
     *
     * @param {Zinc.AgentProductOffersRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productOffers({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public productOffers(
        request: Zinc.AgentProductOffersRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__productOffers(request, requestOptions));
    }

    private async __productOffers(
        request: Zinc.AgentProductOffersRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { product_id: productId, retailer, max_age: maxAge, newer_than: newerThan, async } = request;
        const _queryParams: Record<string, unknown> = {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/offers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/products/offers");
    }

    /**
     * Offers/pricing for a specific product on a retailer.
     *
     * @param {Zinc.AgentProductOffersPostRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productOffersPost({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public productOffersPost(
        request: Zinc.AgentProductOffersPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__productOffersPost(request, requestOptions));
    }

    private async __productOffersPost(
        request: Zinc.AgentProductOffersPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { product_id: productId, retailer, max_age: maxAge, newer_than: newerThan, async } = request;
        const _queryParams: Record<string, unknown> = {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/offers",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/products/offers");
    }

    /**
     * Full product details for a specific product on a retailer.
     *
     * @param {Zinc.AgentProductDetailsRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productDetails({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public productDetails(
        request: Zinc.AgentProductDetailsRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__productDetails(request, requestOptions));
    }

    private async __productDetails(
        request: Zinc.AgentProductDetailsRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { product_id: productId, retailer, max_age: maxAge, newer_than: newerThan, async } = request;
        const _queryParams: Record<string, unknown> = {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/details",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/products/details");
    }

    /**
     * Full product details for a specific product on a retailer.
     *
     * @param {Zinc.AgentProductDetailsPostRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.PaymentRequiredError}
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.agent.productDetailsPost({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public productDetailsPost(
        request: Zinc.AgentProductDetailsPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__productDetailsPost(request, requestOptions));
    }

    private async __productDetailsPost(
        request: Zinc.AgentProductDetailsPostRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { product_id: productId, retailer, max_age: maxAge, newer_than: newerThan, async } = request;
        const _queryParams: Record<string, unknown> = {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "agent/products/details",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Zinc.PaymentRequiredError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/products/details");
    }
}
