// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Zinc from "../../../index.js";

export declare namespace StatsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StatsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StatsClient.Options>;

    constructor(options: StatsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Recent delivered orders as anonymized, city-level map points.
     *
     * Public and unauthenticated — feeds the marketing site's globe. Points are
     * ZIP-centroid coordinates rounded to two decimals with a curated category
     * emoji; deduplicated and capped. Cached for about an hour.
     *
     * @param {StatsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.stats.getDeliveryMap()
     */
    public getDeliveryMap(
        requestOptions?: StatsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.DeliveryMapResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDeliveryMap(requestOptions));
    }

    private async __getDeliveryMap(
        requestOptions?: StatsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.DeliveryMapResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "stats/delivery-map",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.DeliveryMapResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ZincError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/stats/delivery-map");
    }

    /**
     * Zinc's all-time successful-order count and GMV.
     *
     * Public and unauthenticated. Top-level numbers are v2 (this service);
     * ``v1`` is the worker-computed legacy snapshot (seed until the first
     * compute lands); ``combined`` sums both. Cached for about a day.
     *
     * @param {StatsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.stats.getLifetimeStats()
     */
    public getLifetimeStats(
        requestOptions?: StatsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.LifetimeStatsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getLifetimeStats(requestOptions));
    }

    private async __getLifetimeStats(
        requestOptions?: StatsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.LifetimeStatsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "stats/lifetime",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.LifetimeStatsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ZincError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/stats/lifetime");
    }
}
