// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace ProductsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProductsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProductsClient.Options>;

    constructor(options: ProductsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Search for products on a retailer.
     *
     * **Best Buy returns a partial page.** Best Buy server-renders only about 4 of
     * the ~24 products on a search page and loads the rest in the browser, so each
     * page yields roughly 4 results rather than a full page. Ranking, pricing and
     * availability are Best Buy's own; there are simply fewer items per page. Page
     * through with `next_page` to collect more — `next_page` reflects whether Best
     * Buy has further results, not how many came back in this response.
     *
     * **Shopify stores are their own retailer**: pass the store's domain as
     * `retailer` (e.g. `retailer=yetch.studio`; any Shopify-powered storefront
     * works). Results are the store's own top matches (~10) and there is no
     * pagination, so `next_page` is always null and `page` must be omitted or 1.
     * `product_id` is the store-scoped product handle to pass to the details
     * endpoint with the same `retailer`.
     *
     * **Etsy search covers US shops, priced in USD.** Etsy sellers price in their
     * own currency and a single page routinely mixes several, which makes `price`
     * incomparable across a result set — so search is narrowed to US-located
     * shops and any remaining non-USD listing is dropped. `currency_code` is set
     * on every result and is always `USD` here, and prices are never converted,
     * so the number is what the seller charges. Because the currency check runs
     * after Etsy paginates, **a page can come back short while more results still
     * exist** — page on with `next_page`. (Details is neither narrowed nor
     * filtered: it returns any listing, in its own currency.)
     *
     * Etsy results carry no `stars`/`num_reviews` — Etsy publishes a rating for
     * the *shop*, not the listing, and reporting a seller's rating as the
     * product's would be misleading; `brand` carries the shop name, and the
     * details endpoint reports the shop's rating explicitly. `product_id` is the
     * numeric listing id.
     *
     * @param {Zinc.SearchProductsProductsSearchGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.searchProducts({
     *         query: "query",
     *         retailer: "retailer"
     *     })
     */
    public searchProducts(
        request: Zinc.SearchProductsProductsSearchGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.ProductSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchProducts(request, requestOptions));
    }

    private async __searchProducts(
        request: Zinc.SearchProductsProductsSearchGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.ProductSearchResponse>> {
        const { query, retailer, page, free_shipping: freeShipping, authorization } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            retailer,
            page,
            free_shipping: freeShipping,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "products/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.ProductSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/search");
    }

    /**
     * Get offers for a product from a retailer.
     *
     * Not available for Shopify stores: a storefront lists one seller (itself),
     * so per-variant price and availability live on the details endpoint instead.
     *
     * @param {Zinc.GetProductOffersProductsProductIdOffersGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.getProductOffers({
     *         product_id: "product_id",
     *         retailer: "retailer"
     *     })
     */
    public getProductOffers(
        request: Zinc.GetProductOffersProductsProductIdOffersGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.GetProductOffersProductsProductIdOffersGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getProductOffers(request, requestOptions));
    }

    private async __getProductOffers(
        request: Zinc.GetProductOffersProductsProductIdOffersGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.GetProductOffersProductsProductIdOffersGetResponse>> {
        const {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}/offers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Zinc.GetProductOffersProductsProductIdOffersGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/{product_id}/offers");
    }

    /**
     * Get details for a product from a retailer.
     *
     * **Best Buy is addressed by `bsin`**, not by the numeric SKU — the bsin is the
     * trailing id in a Best Buy product URL (`/product/{slug}/{bsin}`). Search
     * results return the SKU as `product_id` and also carry the bsin, so pass the
     * bsin here. The response repeats the SKU as `sku` for cross-referencing.
     *
     * Unlike `/search`, a Best Buy detail response is complete: detail pages are
     * fully server-rendered, so nothing is withheld for client-side loading.
     *
     * **Shopify is addressed by (store, handle)**: pass the store's domain as
     * `retailer` (e.g. `retailer=yetch.studio`) and the product handle — the slug
     * in `/products/{handle}`, returned as `product_id` by search — as the path
     * parameter. The response includes per-variant price and availability.
     * `async` is not supported for Shopify stores.
     *
     * **Etsy is addressed by the numeric listing id** (returned as `product_id` by
     * search). `price` is in minor units of `currency_code`, not converted to USD.
     *
     * Etsy ratings are the **shop's**, reported as `shop_review_average` /
     * `shop_review_count`, and both cover only the **past year** — an established
     * shop with no recent sales reports 0, and an unrated shop reports a null
     * average rather than 0.0 stars. `stars` and `num_reviews` are deliberately
     * not set: they mean a product's rating everywhere else in this API, and a
     * seller's rating is a different claim.
     *
     * `listing_type` is `physical`, `download` or `both` — a download has nothing
     * to ship. `available` accounts for the shop being on vacation as well as
     * stock, so it can be false on an in-stock active listing; `shop_is_vacation`
     * says which it was. `variants` is populated only when Etsy exposes a
     * listing's inventory matrix — check `has_variations` to tell "no variants"
     * from "variants not visible". `taxonomy_id` is Etsy's raw category id; there
     * is no category name yet. `async` is not supported for Etsy.
     *
     * @param {Zinc.GetProductDetailsProductsProductIdGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.getProductDetails({
     *         product_id: "product_id",
     *         retailer: "retailer"
     *     })
     */
    public getProductDetails(
        request: Zinc.GetProductDetailsProductsProductIdGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.GetProductDetailsProductsProductIdGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getProductDetails(request, requestOptions));
    }

    private async __getProductDetails(
        request: Zinc.GetProductDetailsProductsProductIdGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.GetProductDetailsProductsProductIdGetResponse>> {
        const {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Zinc.GetProductDetailsProductsProductIdGetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/{product_id}");
    }
}
