// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Zinc from "../../../index.js";

export declare namespace ProductsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProductsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProductsClient.Options>;

    constructor(options: ProductsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Search for products on a retailer.
     *
     * @param {Zinc.SearchProductsProductsSearchGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.searchProducts({
     *         query: "query",
     *         retailer: "amazon"
     *     })
     */
    public searchProducts(
        request: Zinc.SearchProductsProductsSearchGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Zinc.ProductSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchProducts(request, requestOptions));
    }

    private async __searchProducts(
        request: Zinc.SearchProductsProductsSearchGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Zinc.ProductSearchResponse>> {
        const { query, retailer, page, free_shipping: freeShipping, authorization } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            retailer,
            page,
            free_shipping: freeShipping,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                "products/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Zinc.ProductSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/search");
    }

    /**
     * Get offers for a product from a retailer.
     *
     * @param {Zinc.GetProductOffersProductsProductIdOffersGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.getProductOffers({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public getProductOffers(
        request: Zinc.GetProductOffersProductsProductIdOffersGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getProductOffers(request, requestOptions));
    }

    private async __getProductOffers(
        request: Zinc.GetProductOffersProductsProductIdOffersGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}/offers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/{product_id}/offers");
    }

    /**
     * Get details for a product from a retailer.
     *
     * @param {Zinc.GetProductDetailsProductsProductIdGetRequest} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Zinc.UnprocessableEntityError}
     * @throws {@link errors.ZincError}
     * @throws {@link errors.ZincTimeoutError}
     *
     * @example
     *     await client.products.getProductDetails({
     *         product_id: "product_id",
     *         retailer: "amazon"
     *     })
     */
    public getProductDetails(
        request: Zinc.GetProductDetailsProductsProductIdGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getProductDetails(request, requestOptions));
    }

    private async __getProductDetails(
        request: Zinc.GetProductDetailsProductsProductIdGetRequest,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            product_id: productId,
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
            authorization,
        } = request;
        const _queryParams: Record<string, unknown> = {
            retailer,
            max_age: maxAge,
            newer_than: newerThan,
            async,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ authorization: authorization ?? undefined }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ZincEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Zinc.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ZincError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/{product_id}");
    }
}
